################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoinTracker/CoinTracker/bin/Debug/netstandard2.0
